---
Checks:
  '*,
  -abseil-*,
  -altera-*,
  -fuchsia-*,
  -google-*,
  -llvm-*,
  -llvmlibc-*,
  -modernize-use-trailing-return-type,
  -modernize-use-override,
  -zircon-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none
# The checks included here are disabled in the project
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
